/*titre*/
h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 22px;
}

h4{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

/*style bouton*/
.bouton{
    width: 35%;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    padding: 8px;
    margin: 15px;
    display: inline-block;
    transition: transform 0.35s, background-color 0.4s;
}

.bouton:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    transform: scale(1.1);
}

.bouton:active{
    transform: scale(0.9);
}

/*rangement box*/
.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-top: 5px double #C88C28;
    border-left: 3px solid #c88d284d;
    border-right: 3px solid #c88d284d;
    padding: 15px;
    margin: 30px 30px;
    border-radius: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: transform 0.4s, box-shadow 0.5s;
}

.box:hover{
    transform: translateY(-4px);
    box-shadow: 5px 6px rgb(230, 230, 230);
}

/*box : style*/
.sous_box{
    border: none;
    border-left: 3px solid #C88C28;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    margin: 25px;
    padding: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: transform 0.6s, box-shadow 0.8s;
}

.sous_box:hover{
    transform: translateY(-4px);
    box-shadow: 5px 6px rgb(230, 230, 230);
}

.sous_box img{
    border-radius: 15px;
    border: 2px solid #C88C28;
    margin: 10px;
    width: 300px;
}