/*placement des tableaux*/
.box{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-auto-rows: minmax(1, auto);
}

.box div{
    margin-left: 50px;
    margin-right: 50px;
}

.L1{
    grid-column: 1;
}

.EL{
    grid-column: 2;
}

/*style box*/
.box div{
    border-top: 5px double #C88C28;
    border-left: 3px solid #c88d284d;
    border-right: 3px solid #c88d284d;
    border-radius: 20px;
    padding: 15px 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
    

/*titre box*/
h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

/*style tableau*/
.classement{
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s, box-shadow 0.5s;
}

.classement:hover{
    transform: translateY(-4px);
    box-shadow: 3px 4px rgb(200, 200, 200);
}

.classement thead th{
    background-color: #C88C28;
    border-left: 2px solid #c88d284d;
    border-right: 2px solid #c88d284d;
    color: white;
    padding: 10px 30px;
    text-align: center;
}

.classement tbody tr, .classement tfoot tr{
    border-bottom: 1px solid #c0c0c0;
    border-left: 2px solid #c88d284d;
    border-right: 2px solid #c88d284d;
    transition: background-color 0.5s;
}

.classement tbody tr:nth-child(even), .classement tfoot tr:nth-child(even){
    background-color: #f9f9f9;
}

.classement tbody tr:hover, .classement tfoot tr:hover{
    background-color: rgb(235, 235, 235);
    cursor: default;
}

.classement tbody td, .classement tfoot td{
    padding: 8px;
    text-align: center;
}
    /*style OL et non-OL*/
.ol{
    font-weight: bold;
    color: black;
}

.non-ol{
    color: rgb(50, 50, 50);
}

/*coupe de france*/
.CDF article{
    text-align: center;
}

.CDF p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.CDF img{
    border: 2px solid #C88C28;
    border-radius: 15px;
}

/*style bouton*/
.bouton{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: background-color 0.3s, transform 0.3s;
}

.bouton:hover{
    background-color: rgb(215, 215, 215);
    transform: scale(105%);
    cursor: pointer;
}

.bouton:active{
    transform: scale(95%);
}