.box{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 20px;
}

h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.classement{
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s, box-shadow 0.5s;
}

.classement:hover{
    transform: translateY(-4px);
    box-shadow: 3px 4px rgb(200, 200, 200);
}

.classement thead th{
    background-color: #C88C28;
    border-left: 2px solid #c88d284d;
    border-right: 2px solid #c88d284d;
    color: white;
    padding: 10px 30px;
    text-align: center;
}

.classement tbody tr{
    border-bottom: 1px solid #c0c0c0;
    border-left: 2px solid #c88d284d;
    border-right: 2px solid #c88d284d;
    transition: background-color 0.5s;
}

.classement tbody tr:nth-child(even){
    background-color: #f9f9f9;
}

.classement tbody tr:hover{
    background-color: rgb(235, 235, 235);
    cursor: default;
}

.classement tbody td{
    padding: 8px;
    text-align: center;
}

.ol{
    font-weight: bold;
    color: black;
}

.non-ol{
    color: rgb(50, 50, 50);
}