/*rangement*/
.principal {
    column-count: 3;
    column-gap: 20px;
    padding: 20px;
}

.principal > div {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

/*box : style*/
.bordure{
    border-top: 5px double #C88C28;
    border-left: 3px solid #c88d284d;
    border-right: 3px solid #c88d284d;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: transform 0.4s, box-shadow 0.5s;
}

.bordure:hover{
    transform: translateY(-4px);
    box-shadow: 5px 6px rgb(230, 230, 230);
}

.bordure img{
    border-radius: 15px;
    border: 2px solid #C88C28;
    margin: 10px;
}

/*sous-box : style*/

.sous_box{
    border: none;
    border-left: 3px solid #C88C28;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    transition: transform 0.6s, box-shadow 0.8s;
}

.sous_box:hover{
    transform: translateY(-4px);
    box-shadow: 3px 4px rgb(230, 230, 230);
}

/*tableau*/
.tableau{
    display: inline-table;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s, box-shadow 0.5s;
}

.tableau:hover{
    transform: translateY(-4px);
    box-shadow: 3px 4px rgb(200, 200, 200);
}

.tableau thead th{
    background-color: #C88C28;
    border-left: 2px solid #c88d284d;
    border-right: 2px solid #c88d284d;
    color: white;
    padding: 10px 30px;
    text-align: center;
}

.tableau tbody tr{
    border-bottom: 1px solid #c0c0c0;
    border-left: 2px solid #c88d284d;
    border-right: 2px solid #c88d284d;
    transition: background-color 0.5s;
}

.tableau tbody tr:nth-child(even){
    background-color: #f9f9f9;
}

.tableau tbody tr:hover{
    background-color: rgb(235, 235, 235);
    cursor: default;
}

.tableau tbody td{
    padding: 8px;
    text-align: center;
}

/*style bouton*/
.bouton, .bouton-fin{
    width: 25%;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    margin: 15px;
    transition: transform 0.35s, background-color 0.4s;
}

.bouton:hover, .bouton-fin:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    transform: scale(1.1);
}

.bouton:active, .bouton-fin:active{
    transform: scale(0.9);
}

.bouton-fin{
    display: inline-block;
    margin: 15px auto;
}

/*Titre box*/
h3{
    font-size: 25px;
    text-decoration: underline;
}

/*serre*/
.serre{
    line-height: 15px;
}

.serre img{
    margin: 0;
}

.serre h4{
    text-decoration: underline;
}