/*titre box*/
h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 22px;
}

h4{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 18px;
}

/*style détails*/
.details, .competition{
    border-top: 5px double #C88C28;
    border-left: 3px solid #c88d284d;
    border-right: 3px solid #c88d284d;
    padding: 15px;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.details{
    column-count: 2;
}

.details > *{
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    margin-bottom: 20px;
}

.match_header img{
    border-radius: 15px;
    border: 2px solid #C88C28;
    margin: 10px;
    width: 900px;
}

.match_detail{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px;
}

.detail_info{
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    text-align: left;
}

.detail_events{
    margin: 20px;
    padding: 10px;
    font-size: 15px;
}

.detail_events ul{
    list-style-type: none;
    line-height: 19px;
}

.detail_stats table{
    width: 600px;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

.detail_stats th, .detail_stats td{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.detail_stats th{
    background-color: #C88C28;
    color: white;
}

.detail_stats tr{
    background-color: #f9f9f9;
}

.detail_stats tr:nth-child(even){
    background-color: rgb(235, 235, 235);
}

.detail_stats tbody tr:hover{
    background-color: rgb(225, 225, 225);
    cursor: default;
}

/*autre compétition*/
.sous_box img{
    border-radius: 20px;
    border: 3px solid #C88C28;
    margin: 15px;
}

.sous_box{
    border: none;
    border-left: 3px solid #C88C28;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    transition: transform 0.6s, box-shadow 0.8s;
}

.sous_box:hover{
    transform: translateY(-4px);
    box-shadow: 3px 4px rgb(230, 230, 230);
}

/*bouton*/
.bouton{
    width: 35%;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    padding: 8px;
    margin: 15px;
    transition: transform 0.4s, background-color 0.5s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bouton:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    transform: scale(1.05);
}

.bouton:active{
    transform: scale(0.9);
}