h3{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

.a-venir{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-auto-columns: minmax(1, auto);
}

.matchU{
    grid-row: 1;
    padding: 20px;
    margin: 20px;
    border-left: 5px double #C88C28;
    border-bottom: 1px solid #c88d2860;
    border-top: 1px solid #c88d2860;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.matchU img{
    width: 70%;
    border: 2px solid #C88C28;
    border-radius: 20px;
}

.match{
    grid-row: 1;
    padding: 20px;
    margin: 20px;
    border-left: 5px double #C88C28;
    border-bottom: 1px solid #c88d2860;
    border-top: 1px solid #c88d2860;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.match img{
    width: 70%;
    border: 2px solid #C88C28;
    border-radius: 20px;
}

.bouton{
    text-align: center;
    width: 35%;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    padding: 5px;
    margin: 15px;
    transition: transform 0.35s, background-color 0.4s;
}

.bouton:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    transform: scale(1.1);
}

.bouton:active{
    transform: scale(0.9);
}