/*style titre*/
h3{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

/*position carte match*/
.a-venir, .fini{
    column-count: 3;
    column-gap: 30px;
    margin: 20px;
}

/*postion + style*/
.a-venir div, .fini div{
    margin-bottom: 30px;
    padding: 10px;
    border-left: 5px double #C88C28;
    border-bottom: 1px solid #c88d2860;
    border-top: 1px solid #c88d2860;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.5s, box-shadow 0.7s;
}

.matchU:hover, .match:hover{
    transform: translateY(-4px);
    box-shadow: 3px 5px rgb(230, 230, 230);
}

.matchU img, .match img{
    width: 70%;
    border: 2px solid #C88C28;
    border-radius: 20px;
}

/*bouton "voir plus"*/
.bouton-plus{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 35%;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    padding: 5px;
    margin: 15px;
    transition: transform 0.35s, background-color 0.4s;
    list-style: none;
}

.bouton-plus:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    transform: scale(1.1);
}

.bouton-plus:active{
    transform: scale(0.9);
}

.bouton-plus-style{
    display: grid;
}

.bouton-plus-style[open] .bouton-plus{
    grid-row: 2;
}

.bouton-plus-style[open] .bouton-plus{
    color: transparent;
    position: relative;
}

.bouton-plus-style[open] .bouton-plus::before{
    color: black;
    position: absolute;
    content: "Voir moins";
}

/*bouton consulter match*/
.bouton{
    text-align: center;
    width: 35%;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    padding: 3px;
    margin: 15px;
    transition: transform 0.35s, background-color 0.4s;
}

.bouton:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    transform: scale(1.1);
}

.bouton:active{
    transform: scale(0.9);
}